.job-card-body{
    display: flex;
    border: 1px solid black;
    border-radius: 8px;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}
.job-card-body img{
    width: 140px;
    height: 140px;
}
.job-card-detail{
    display: flex;
    flex-direction: column;
}
@media only screen and (max-width: 688px){
    .job-card-body{
        display: flex;
        flex-direction: column;
        max-width: 100vw;
        max-height: fit-content;
    }
    .job-card-body img{
        width: 100px;
        height: 100px;
    }
}