.job-card-container{
    margin-bottom: 20px;
}
.job-card-container h1{
    text-align: center;
    margin-bottom: 50px;
}
.sort-btn-container{
   margin: 10px;
   padding: 10px;
   display: flex;
   justify-content: flex-end;
}
.sort-btn-container button{
    background-color: #7E90FE;
    border-radius: 8px;
    color: white;
    padding: 10px;
    margin-right: 10px;
}