.dream-container{
    display: flex;
    align-items: center;
}
.dream-container img{
    width: 716px;
    height: 644px;
}
.coloredTxt{
    color: #7E90FE;
}

.category-head{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding: 0px;
}
.category-area{
    display: flex;
}
.feature-head{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding: 0px;
}
.featured-area{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
    gap: 10px;
}
.show-all-btn{
    background-color: cornflowerblue;
    color: white;
    width: 300px;
}

@media only screen and (max-width: 688px){
    .dream-container{
        display: flex;
        flex-direction: column;
    }
    .dream-container img{
        max-width: 90vw;
    }
    .category-area{
        display: flex;
        flex-direction: column;
    }
    .featured-area{
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
}