.selected-job{
    margin-top: 100px;
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.job-details-card{
    width: 424px;
    height: 461px;
    background: linear-gradient(90deg, rgba(126, 144, 254, 0.1) 0%, rgba(152, 115, 255, 0.1) 100%);
    border-radius: 8px;
    text-align: center;
}
.icon-color{
    color: #7E90FE;
}
.apply-btn{
    background-color: #7E90FE;
    width: 350px;;

}
@media only screen and (max-width: 688px){
    .selected-job{
        margin-top: 100px;
        display: flex;
        flex-direction: column;
    }
    .job-details-card{
        max-width: 90vw;
    }
    .apply-btn{      
        max-width:fit-content; 
    }
}